@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

body {
  background: #e0f7fa;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
